/part10-Part10_13.LiteracyComparison/target/
/part10-Part10_17.SortThemCards/target/
/part11-Part11_12.SensorsAndTemperature/target/
/part12-Part12_01.Hideout/target/
/part12-Part12_02.Pipe/target/
/part12-Part12_03.SumTheseForMe/target/
/part12-Part12_04.List/target/
/part12-Part12_05.HashMap/target/
/part12-Part12_06.Numbers/target/
/part12-Part12_07.Die/target/
/part12-Part12_08.Lottery/target/
/part12-Part12_09.ArrayAsAString/target/
/part13-Part13_01.MyFirstApplication/target/
